{% extends 'pi/common/detail.html' %}

{% block page-header %}
	{{ obj }}(代码：{{obj.code}})
{% endblock %}

{% block detail-navbar %}
<ul class="nav navbar-nav">
{% for major in obj.mymajor_set.all %}
    <li class="">
        <a href="#major-{{major.id}}">
        	{{major}}
		<span class="pull-right"><i class="fa fa-angle-right"></i></span>
		</a>
    </li>
{% endfor %}
</ul>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li>
		<a href="{% url 'analysis_major_by_category' obj.category.id %}">
			{{obj.category}}
		</a>
	</li>
	<li>{{obj}}</li>
</ol>
{% endblock %}

{% block detail-content %}
<blockquote>
{{ obj }}下设<span class="my-huge-font">{{obj.mymajor_set.all|length}}</span>个专业。
</blockquote>

<div id="{{major.name}}-canvas" style="min-height:400px;width:100%;"></div>
<ul class="">
{% for major in obj.mymajor_set.all %}
	<li>
		<a href="{% url 'major_detail' major.id %}">{{major}}({{major.code}})/</a>
		<ul>
		{% for school in major.schools.all|slice:"5" %}
			{{ school }} /
		{% endfor %}
			<a href="{% url 'major_detail' major.id %}">and more...</a>
		</ul>
	</li>
{% endfor %}
</ul>

<script type="text/javascript">
	var j$ = jQuery.noConflict();
	j$(document).ready(function(){
		var options = {
		    title : {
		        text: '对口学校的数量',
		        subtext: '数据来自网络'
		    },
		    tooltip : {
		        trigger: 'axis'
		    },
		    legend: {
		        data:['2011年', '2012年'],
		        show:false,
		    },
		    toolbox: {
		        show : true,
		        feature : {
		            mark : {show: true},
		            dataView : {show: true, readOnly: false},
		            magicType: {show: true, type: ['bar']},
		            restore : {show: true},
		            saveAsImage : {show: true}
		        }
		    },
		    calculable : true,
		    xAxis : [
		        {
		            type : 'value',
		            // boundaryGap : [0, 0.01]
		        }
		    ],
		    yAxis : [
		        {
		            type : 'category',
		            data : [
		            {% for major in obj.mymajor_set.all %}
		            	'{{major.name}}',
		            {% endfor %}
		            ]
		        }
		    ],
		    series : [
		        {
		            name:'',
		            type:'bar',
		            data:[
			            {% for major in obj.mymajor_set.all %}
			            	{{major.schools.all|length}},
			            {% endfor %}
		            ]
		        }
		    ]
		};
		var myChart = echarts.init(document.getElementById('{{major.name}}-canvas'),'gray');
		myChart.setOption(options);
	});

	</script>
{% endblock %}