{% extends 'pi/common/detail.html' %}
{% load staticfiles %}

{% block page-header %}
	{{ obj }}高校汇总
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li>
		<a href="{% url 'school_echart_map_filter' %}">全国</a>
	</li>
	<li>
		<a href="{% url 'analysis_school_by_province' obj.province.id %}">{{obj.province}}</a>
	</li>
	<li class="active">{{ obj }}</li>
</ol>
{% endblock %}

{% block detail-school-header %}
<div class="school-landing">
  {% with city_photo='img/city/'|add:obj.province.province|add:obj.city|add:'风光.jpg' %}
	<div class="cover-photo"
	style="background:transparent url({% static city_photo %}) no-repeat; background-size:cover;"
	*城市照片来自网络
	</div>
  {% endwith %}

	<div class="school-Name-bar">
		<div id="school-logo">
			<div id="eggshell-114" class="C-common-school-logo medium">
				<a class="logo" href="/schools/ucla">
				<div class="school-icon white">
					<div class="school-icon-img">
						<i class="fa fa-quote-left"></i>
					</div>
				</div>
				</a>
			</div>
		</div>
		<div class="school-name">
				<h4><div class="txt-hdr-top" style="font-size: 160%;">{{obj}}</div></h4>
				<div class="txt-hdr-dark">{{obj.province}}</div>
		</div>
	</div>
</div>
{% endblock %}

{% block detail-navbar %}
<ul class="nav nav-pills" data-type="nav-side">
</ul>
{% endblock %}


{% block detail-content %}

{# city's school list #}
<section>
	<h2 class="page-header">
	<i class="fa fa-university"></i>
	学校列表
	</h2>
	<div class="row">
	    <div class="col-md-12">
	 		<table class="table table-condensed table-striped table-hover" id="city-school-list">
	 		<thead>
	 			<th class="col-sm-4"></th>
	 			<th class="col-sm-8"></th>
	 		</thead>
	 		<tbody>
		        {% for school in obj.myschool_set.all %}
		            <tr><td>
		            	<h5>{{ school }}</h5>
		            </td><td>
		            	{{ school.description|safe|truncatechars:"100"}}

		            	<p>
		            	<small class="pull-left text-left">
		            	<a href="{%url 'school_detail' school.id %}">查看学校详情</a>
		            	</small>
		            	</p>
		            </td></tr>
		        {% endfor %}
	        </tbody>
	 		</table>

	        <div id="analysis-detail"></div>
	    </div>
	</div>
</section>

{# train schedules #}
<section>
	<h2 class="page-header">
		<i class="fa fa-train"></i>
		火车时刻表查询
	</h2>
	<div class="row">
	    {# train who stops at this city #}
		<div class="col-md-4">
			<div class="input-group left-inner-addon">
				<span class="input-group-addon" id="basic-addon1">出发地（省）</span>
				<input type="search" class="form-control" placeholder="Departure from State" aria-describedby="basic-addon2"
				value="{{ user.myuserprofile.province.province }}" id="input-dept-state">
			</div>
		</div>

		<div class="col-md-8">
			<div class="input-group left-inner-addon">
				<span class="input-group-addon" id="basic-addon1">出发地（市）</span>
				<input type="search" class="form-control" placeholder="Departure from City" aria-describedby="basic-addon2"
				value="{{ user.myuserprofile.city.city }}" id="input-dept-city">
				<span class="input-group-addon btn btn-info ladda-button" id="btn-search-train"
				data-style="expand-right"
				data-size="l" data-spinner-color="#333"
				>
					<span class="ladda-label">
					<i class="fa fa-search"></i>
						咋坐车来{{obj}}啊亲?
					</span>
				</span>
			</div>
		</div>
	</div>
	<div id="trains" class='rows'>
	</div>
</section>

<script type="text/javascript">
var j$ = jQuery.noConflict();
j$(document).ready(function(){
	// register click event
	j$('#btn-search-train').click(function(){
		var l = Ladda.create(this);
 		l.start();

        // ajax to server to get a list of columns:4"markers that are within the viewport
        j$.post("{% url 'train_route' %}", // passed in from view
            {
            	'h': {{obj.id}},
                'p':j$('#input-dept-state').val(),
                'c':j$('#input-dept-city').val(),
            },
            function(resp) { // success callback
            	j$('#trains').html(resp['html']);
            },'json'
        ).always(function(){
        	l.stop();
        });
	});

	// school list
	j$('#city-school-list').DataTable({
		"lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
		"info": false,
		'pagingType': 'simple'
	});

	// click
	j$('#btn-search-train').trigger('click');
});
</script>
{% endblock %}

{% block detail-sidebar %}
	<h3 class="page-header">
		<i class="fa fa-book"></i>
		城市wiki
	</h3>
	{{ obj.wiki_intro|safe }}
{% endblock %}
