{% extends 'pi/common/base.html' %}

{% block page-header %}
	{{ province }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
        {% regroup schools|dictsort:"city" by city as city_list %} 
        {% for city in city_list %}
            {% if city.grouper %}
            <a href="{% url 'analysis_school_by_city' city.grouper.id %}">{{city.grouper}}/</a>
            {% endif %}
        {% endfor %}
        </div>

        <div id="analysis-detail"></div>        
    </div>
</div>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
	j$(document).ready(function(){
        // ajax to server to get a list of columns:4"markers that are within the viewport
        j$.post("{% url 'analysis_school_summary_ajax' %}", // passed in from view
            { 
                'province':{{ pk }},
            }, 
            function(resp) { // success callback
                j$('#analysis-detail').html(resp['html']);             
            },'json'
        );       	
	})
</script>
{% endblock %}