{% extends 'pi/common/base.html' %}

{% block page-header %}
	{{ province }}
{% endblock %}

{% block content %}
    <h2>按条件搜索到{{province}}的学校</h2>
    <dl class="dl-horizontal">
        {# filter by city #}
        <dt>
            <i class="fa fa-hand-o-right"></i>        
            <span class="label label-default">按城市</span>
        </dt><dd>
        {% regroup schools|dictsort:"city" by city as city_list %}  
            <ul class="list-inline">
            {% for city in city_list %} 
                {% if city.grouper %}
                <li><a data-type="city" val="{{city.grouper}}">{{ city.grouper }}</a></li>
                {% endif %}
            {% endfor%}
            </ul>
        </dd>
    </dl>

    <dl class="dl-horizontal">
        {# filter by city #}
        {% regroup schools|dictsort:"city" by city as city_list %} 
        {% for city in city_list %}
        <dt>
            <i class="fa fa-hand-o-right"></i>        
            <span class="label label-default">
                {% if city.grouper %}
                    {{ city.grouper }}
                {% endif %}
            </span>
        </dt><dd>
            <ul class="list-inline">
            {% for obj in city.list %} 
                <li>
                <a href="{% url 'school_detail' obj.id %}">{{ obj.name }}</a>
                </li>
            {% endfor%}
            </ul>
        </dd>
        {% endfor %}
    </dl>

	<div id="analysis-detail"></div>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
	j$(document).ready(function(){
        // ajax to server to get a list of columns:4"markers that are within the viewport
        j$.post("{% url 'analysis_school_summary_ajax' %}", // passed in from view
            { 
                'province':{{ pk }},
            }, 
            function(resp) { // success callback
                j$('#analysis-detail').html(resp['html']);             
            },'json'
        );       	
	})
</script>
{% endblock %}