{% extends 'pi/common/detail.html' %}

{% load staticfiles %}
{% block page-header %}
	{{ object.name }}
{% endblock %}

{% block detail-navbar %}
<ul class="nav navbar-nav">
    <li class="">
        <a href="#major-intro">专业简介
		<span class="pull-right"><i class="fa fa-angle-right"></i></span>        
        </a>
    </li>

    <li class="">
        <a href="#course">专业课程
        <span class="pull-right"><i class="fa fa-angle-right"></i></span>
        </a>
    </li>

    <li class="">
        <a href="#jobs">工作招聘
        <span class="pull-right"><i class="fa fa-angle-right"></i></span>
        </a>
    </li>

    <li class="">
        <a href="#related-schools">开设院校
        <span class="pull-right"><i class="fa fa-angle-right"></i></span>
        </a>
    </li> 
</ul>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li>
		<a href="{% url 'analysis_major_by_category' object.subcategory.category.id %}">
			{{object.subcategory.category}}
		</a>
	</li>
	<li>
		<a href="{% url 'analysis_major_by_subcategory' object.subcategory.id %}">{{object.subcategory}}</a>
	</li>
	<li>{{object}}</li>
</ol>
{% endblock %}

{% block detail-content %}
	<section id="jobs">
		<h2 class="page-header">工作招聘</h2>
		<blockquote>
		最新的招聘信息显示需要"<span class="my-huge-font">{{object.name}}</span>"专业的职位共<span class="my-huge-font">{{object.job_stat}}</span>个。
		</blockquote>

		<section>
		<h4 class="">就业热门:</h4>
		<div id="my-canvas" style="width:100%; min-height: 200px;margin-bottom:20px;margin-top:10px;">
		</div>
		</section>

		<section>
		<h4>最新的50个招聘职位及其工作地点:</h4>

		{% regroup jobs|dictsort:"location" by location as by_location_list %}
		<ul id="myTab" class="nav nav-tabs">
		{% for location in by_location_list %}
			<li><a href="#job-{{location.grouper}}" data-toggle="tab">
				{{location.grouper}}({{location.list|length}})
			</a></li>	
		{% endfor %}
		</ul>

		<div id="myTabContent" class="tab-content">
			{% for location in by_location_list %}
			<div class="tab-pane" id="job-{{location.grouper}}">
				<table class='table table-condensed table-striped'>
					<tbody>
					{% for job in location.list %}
						<tr><td>
							<div class="row">
								<div class="col-sm-6">
									<a href="{{job.source_url}}">
										<i class="fa fa-external-link"></i>
										{{job.title}}
									</a>								
								</div>
								<div class="col-sm-6 text-right" style="color:#8199f7;">
									{{job.co_name}}
								</div>
							</div>

							<small class="">
								<i class="fa fa-check-square-o"></i>学历要求: {{job.req_degree}}<br />
								<i class="fa fa-check-square-o"></i>期望的工作经验: {{job.req_experience}}
							</small><small class="pull-right">
								<i class="fa fa-check-square-o"></i>公司种类: {{job.co_type}}
								<i class="fa fa-check-square-o"></i>公司规模: {{job.co_size}}
							</small>
						</td></tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			{% endfor %}
		</div>
		</section>
	</section>

	<section id="related-schools">
		<h2 class="page-header ladda-button"
			data-style="expand-right" 
			data-size="l" data-spinner-color="#333"			
		>
		<span class="ladda-label"></span>		
		开设院校
		</h2>
		<div>
			<label class="checkbox-inline">
				<input type="checkbox" id="filtered-by-profile" checked value="1">根据私人订制条件过滤
			</label>
		</div>

		<div id="related-school-list"></div>
	</section>
<script type="text/javascript">
	var j$ = jQuery.noConflict();

	function get_related_schools(profiled){
		// loading spinner
		var l = Ladda.create(j$('.ladda-button')[0]);
	 	l.start();
	 			
        // ajax to server to get a list of columns:4"markers that are within the viewport
        j$.post("{% url 'major_related_schools' %}", // passed in from view
            { 
                'obj_id':{{ object.id }},
                'profiled': profiled
            }, 
            function(resp) { // success callback
                j$('#related-school-list').html(resp['html']);             
            },'json'
        ).always(function(){
    		// remove spinner
    		l.stop();        	
        });  
	}

	j$(document).ready(function(){
		setTimeout(get_related_schools(1),1000);

		var word_array = [
			{% for keyword, weight in keywords %}
			{text: "{{keyword}}", weight: Math.round({{weight}})},
			{% endfor %}
		];
		
		j$("#my-canvas").jQCloud(word_array,{
			delayedMode: true,
			// shape: 'rectangular'
		});		

		// profile filter toggle
		j$('#filtered-by-profile').click(function(){
			var profiled = j$(this).is(':checked') ? 1 : 0;
			get_related_schools(profiled);
		});
	});
</script>
{% endblock %}

{% block detail-sidebar %}
	{# float to right, attributes #}
	<section>
		<h4>
			<i class="fa fa-graduation-cap"></i>
			 专业快照
		</h4>
		<dl class="dl-horizontal my-dl-horizontal">
			<dt>国家专业代码</dt><dd>{{ object.code|default:"暂无信息"}}</dd>
			<dt>学科门类</dt><dd>{{ object.subcategory.category.name|default:"暂无信息"}}</dd>
			<dt>专业类</dt><dd>{{ object.subcategory.name|default:"暂无信息"}}</dd>
			<dt>教育类别</dt><dd>{{ object.degree_type|default:"暂无信息"}}</dd>
			<dt>授予学位</dt><dd>{{ object.degree|default:"暂无信息"}}</dd>
			<dt>修学年限</dt><dd>{{ object.how_long|default:"暂无信息"}}</dd>
			<dt>专业特色</dt><dd>
					{% if object.is_specialized %}
						特设专业
					{% else %}
						非特设专业
						<br />
					{% endif %}
					{% if object.is_gov_controlled %}
						国家控制布点专业
					{% else %}
					非国家控制布点专业
					{% endif %}
			</dd>				
		</dl>
	</section>

	<section id="major-intro">
		<h4 class="my-h2-border">
			<i class="fa fa-book"></i>
			专业简介
		</h4>
		{{ object.description|default:"暂无信息" }}
	</section>

	<section id="course">
		<h4 class="my-h2-border">
			<i class="fa fa-pencil"></i>
			专业课程
		</h4>
		{{ object.course|default:"暂无信息" }}
	</section>	

	<section id="related-majors">
		<h4>
			<i class="fa fa-graduation-cap"></i>
			类似专业
		</h4>
		<ul class="list-unstyled">
		{% for s in object.related_majors.all %}
			{% if s.schools.all %}
			<li><a href="{% url 'major_detail' s.id %}">{{ s }}</a></li>
			{% endif %}
		{% empty %}
		暂无信息
		{% endfor %}
		</ul>
	</section>
{% endblock %}
