<a href="" class="" data-toggle="dropdown">
	<i class="fa fa-gears"></i>
	我的私人订制
</a>
<div id="user-config" class="dropdown-menu my-dropdown-container" style="min-width:250px; padding: 15px;">
	<h4 class="page-header">
		<b class="fa fa-cogs"></b>
		你的个人情况
	</h4>

	<form class="" id="user-property-form" role="form" action="{% url 'user_profile' %}" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label for="province" class="control-label">
				你会在哪儿参加高考呢？
			</label>
			<input name="province" type="text" class="form-control" placeholder="例如江苏南京" value="{{ user.myuserprofile.province|default_if_none:'' }}{{ user.myuserprofile.city|default_if_none:''}}">
		</div><div class="form-group">
			<label for="student_type" class="control-label">
				你在高中学文还是学理？
			</label>
			<select class="form-control" name="student_type">
				<option value="">--</option>

				{% if user.myuserprofile.student_type == '文科' %}
					<option value="文科" selected="selected">我学文科</option>
				{% else %}
					<option value="文科">我学文科</option>
				{% endif %}

				{% if user.myuserprofile.student_type == '理科' %}
					<option value="理科" selected="selected">我学理科</option>
				{% else %}
					<option value="理科">我学理科</option>
				{% endif %}
			</select>
		</div><div class="form-group">
			<label for="degree_type" class="control-label">
				上个大本还是大专？
			</label>
			<select class="form-control" name="degree_type">
				<option value="">--</option>

				{% if user.myuserprofile.degree_type == '本科' %}
					<option value="" selected="selected">本科</option>
				{% else %}
					<option value="本科">本科</option>
				{% endif %}

				{% if user.myuserprofile.degree_type == '专科' %}
					<option value="专科" selected="selected">专科</option>
				{% else %}
					<option value="专科">专科</option>
				{% endif %}
			</select>
		</div><div class="form-group">
			<label for="score" class="control-label">
			幻想一下考多少分吧？
			</label>
			<input name="score" type="number" step="10" class="form-control"
			placeholder="大胆猜测、不计后果 ^_^"
			value="{{ user.myuserprofile.estimated_score }}">
		</div><div class="form-group">
			<label for="tags" class="control-label">
			想要学些什么呢
			</label>
			<input name="tags" type="text" class="form-control"
			placeholder="体育,计算机,绘画" data-toggle="tooltip"
			title="最多可定义10个关键词，用逗号分割，例如“工程，教育，计算机“" value="{{user.myuserprofile.tags.all|join:","}}">
		</div>

		<button class="btn btn-small btn-primary default pull-right ladda-button"
		id="btn-save-user-property" data-style="expand-left"
		data-size="l" data-spinner-color="#333">
			<i class="fa fa-refresh"></i>
			启动我的私人订制
			<span class="ladda-label"></span>
		</button>

	<div id="results"></div> <!-- errors go here -->
	</form>
</div>

<script type="text/javascript">
j$(document).ready(function(){
	j$('[data-toggle="tooltip"]').tooltip();

	// navbar form spinner
	// loading spinner
	j$('#btn-save-user-property').click(function(){
		var l = Ladda.create(this);
		l.start();

		j$(this).parents('form:first').submit();
	});
});
</script>
