{% extends "pi/common/home.html" %}

{% block main %}


{% load crispy_forms_tags %}
	
<form action="{% url 'django.contrib.auth.views.login' %}" method="post">
	{% csrf_token %}
	
	<div class="row" style="text-align: left;">
		<div class="col-md-8"></div>
		<div class="col-md-3">
		{% if form.errors %}
			<div class="alert alert-info">
				Your username and password didn’t match. Please try again.</p>
			</div>
		{% endif %}
		
			{% crispy form %}
			<div class="form-actions">
				<span class="addLink">
					<a href="{% url 'user_register' %}">Register</a>
				</span>
				<input class="btn btn-primary default pull-right" type="submit" value="Login" />
				<input type="hidden" name="next" value="/gaokao/school/" />
			</div>
		
		</div>
	</div>
</form>
{% endblock %}
