{% extends 'pi/common/home.html' %}
{% load crispy_forms_tags %} 
{% load staticfiles %}

{% block login %}

<div class="pin-card col-md-6">
    <form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    {% if form.errors %}
        <div class="alert alert-danger">
            <p>Your username and password didn’t match. Please try again.</p>
        </div>
    {% endif %}

    <ul class="list-inline modal-footer">
        <li>
            <a href="{% url 'user_register' %}">新用户注册</a>         
        </li><li>
            <input class="btn btn-primary default" type="submit" value="登录" />
        </li><li>
            <a href="{% url 'home' %}" class="btn btn-default">取消</a>
        </li>
    </ul>
    </form>  
</div>
{% endblock %}
