{% if keywords %}
<h4>
	<i class="fa fa-fire"></i>
	热门话题
</h4>
<div id="my-canvas" style="width:100%; min-height: 350px;margin-bottom:20px;margin-top:10px;"></div>
{% endif %}

{% if objs %}
<h4>
	<i class="fa fa-forumbee"></i>
	实时校园
</h4>
<ul class="list-unstyled newsticker" style="min-height:300px;overflow:hidden;">
	{% for topic in objs %}
		<li style="border-bottom:1px dashed #dedede;">
		<h6 style="color:#89e;">
			<i class="fa fa-bullhorn"></i>
			<a href="#feed-{{topic.id}}">{{ topic.author }}</a>
			{% if topic.attachments.all %}
				<a href="#feed-{{topic.id}}"><small class="pull-right">有图哦，亲！</small></a>
			{%  endif %}
		</h6>
		{{ topic.name }}
		</li>
	{% endfor %}
</ul>
{% endif %}

<script type="text/javascript">
	var word_array = [
		{% for keyword, weight in keywords %}
		{text: "{{keyword}}", weight: Math.round({{weight}})},
		{% endfor %}
	];
	
	j$("#my-canvas").jQCloud(word_array,{
		delayedMode: true,
		//shape: 'rectangular'
	});
</script>