{% if keywords %}
<h3 class="page-header">
	<i class="fa fa-fire"></i>
	热门话题
</h3>
<div id="my-canvas" style="width:100%; min-height: 350px;margin-bottom:20px;margin-top:10px;background-color:white;"></div>
{% endif %}

{% if objs %}
<h3 class="page-header">
	<i class="fa fa-forumbee"></i>
	实时校园
</h3>
	<ul class="list-unstyled newsticker" style="min-height:500px;overflow:hidden;">
		{% for topic in objs %}
			<li style="border-bottom:1px dashed #dedede;padding:10px;">
			<h6 style="color:#89e;">
				<span class="text-center" style="padding:5px; border:1px solid #ccc;background-color:white;font-size:1.2em;margin-right:10px;">
				<i class="fa fa-bullhorn"></i>
				</span>
				<a href="#feed-{{topic.id}}">{{ topic.author }}</a>
				{% if topic.attachments.all %}
					<a href="#feed-{{topic.id}}" class="pull-right">有图哦，亲！</a>
				{%  endif %}
			</h6>
			{{ topic.name }}
			</li>
		{% endfor %}
	</ul>
{% endif %}

<script type="text/javascript">
	var j$ = jQuery.noConflict();

	var word_array = [
		{% for keyword, weight in keywords %}
		{text: "{{keyword}}", weight: Math.round({{weight}})},
		{% endfor %}
	];
	
	j$(document).ready(function(){
		j$("#my-canvas").jQCloud(word_array,{
			delayedMode: true,
			//shape: 'rectangular'
		});

		// start news ticker
		j$('.newsticker').newsTicker({
			row_height: 60,
			max_rows: 20,
			speed: 600,
			direction: 'up',
			duration: 4000,
			autostart: 1,
			pauseOnHover: 0			
		});		
	});
</script>