{% if feeds %}
	<div class="my-multicol-3">
	{% for t in feeds %}
		<section class="pin-card" style=""
		id="feed-{{t.id}}">
		<div class="page-header">
			<h5>
				<a href="{{ t.url_original }}">
					{{t.name}}
				</a>
			</h5>
			{% if t.last_updated %}
				<em>{{ t.last_updated }}</em>
			{% endif %}
		</div>
		
		<div class="" style="padding:0px 0;">
			{% if t.attachments.all|length %}
			<a href="{{ t.attachments.all.0.file.url }}" data-toggle="lightbox" data-gallery="multiimages" data-parent data-title="{{t.name}}" data-footer="{{t.description}}">
				<img src="{{t.attachments.all.0.file.url}}" class="img-responsive center-block">
			</a>			
			{% endif %}
			<p>{{ t.description }}</p>
		</div>

		<div class="" style="border-top: 1px solid #dddddd;padding:10px 0;">
			{% if t.attachments.all %}
				<ul class="list-inline">
				{% for img in t.attachments.all %}
					<li>
						<img src="{{img.file.url}}" 
						data-type="attachment-thumbnail" class="img-responsive img-thumbnail" width="40px">
					</li>
				{% endfor %}
				</ul>
			{% endif %}		


			by <span style="color:#89e;">{{ t.author }}</span>
			<span class="text-right pull-right">			
			<i class="fa fa-comments-o"></i>
			{{ t.reply_num }}
			</span>				
		</div>
		
		</section>
	{% endfor %}
	</div>


{% else %}
暂无信息
{% endif %}

<script type="text/javascript">
var j$ = jQuery.noConflict();
j$(document).ready(function(){
	j$(document).delegate('*[data-toggle="lightbox"]', 'click', function(e) {
	    e.preventDefault();
	    j$(this).ekkoLightbox();
	}); 

	j$('[data-type="attachment-thumbnail"]').click(function(){
		var url = j$(this).attr('src');
		j$(this).closest('section').find('[data-toggle="lightbox"]').attr('href',url);
		j$(this).closest('section').find('[data-toggle="lightbox"]').find('img:first-child').attr('src',url);
	});		
});
</script>