{% load staticfiles %}
{% load compress %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

{% block core-library %}
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- script src="../../assets/js/ie-emulation-modes-warning.js"></script -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <!-- script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script -->
      <!-- script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script -->
      <script src="{% static 'js/html5shiv.min.js' %}"></script>
      <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->

	<!-- Latest compiled and minified CSS -->
	<!--link rel="stylesheet" href="{% static 'bootstrap3/css/bootstrap.min.css' %}"-->
	{# http://www.bootstrapcdn.com/?theme=14#bootswatch_tab #}
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/simplex/bootstrap.min.css">
	
	<!-- Optional theme -->
	<!--link rel="stylesheet" href="{% static 'bootstrap3/css/bootstrap-theme.min.css' %}"-->
	
	<!-- link href="//www.fuelcdn.com/fuelux/3.1.0/css/fuelux.min.css" rel="stylesheet" -->
	<!--link href="{% static 'css/fuelux.min.css' %}" rel="stylesheet"-->

	<!-- http://fortawesome.github.io/Font-Awesome/get-started/ -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<!-- easyui stylesheets -->
	<link rel="stylesheet" type="text/css" href="{% static 'easyui/themes/default/easyui.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'easyui/themes/icon.css' %}">

	<!-- Include *at least* the core style and default theme -->
	<link href="{% static 'syntaxhighlighter/styles/shCore.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'syntaxhighlighter/styles/shThemeDefault.css' %}" rel="stylesheet" type="text/css" />
	
    {% compress css %}	
	<!-- application specific css -->
	<!--link rel="stylesheet" type="text/x-scss" href="{% static 'sass/my.scss' %}"-->	
	{% endcompress %}
	<link rel="stylesheet" type="text/css" href="{% static 'sass/my.css' %}">	
	
	{# loading spinner: http://msurguy.github.io/ladda-bootstrap/ #}
	<link rel="stylesheet" type="text/css" href="{% static 'loading/ladda-themeless.min.css' %}">
	
	{# DataTable #}
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">

	<!-- JQuery lib -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<!-- script src="{% static 'jquery/dist/jquery.min.js' %}"></script -->

{% endblock %}

{# extra css code #}
{% block custom_css %}
{% endblock %}

<title>MySAT Platform</title>
</head>

<body>
{% block navbar %}
	<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container-fluid">
		<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar">something</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'home' %}">
					<i class="fa fa-home"></i>
					MySAT
				</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="" class="" data-toggle="dropdown">
					<i class="fa fa-flag"></i>
						Models
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'major_list' %}">Major</a></li>
						<li><a href="{% url 'school_list' %}">School</a></li>
					</ul>
				</li>
					
				<li class="dropdown">
					<a href="" class="" data-toggle="dropdown">
						<i class="fa fa-bar-chart"></i>
						分数线									
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'admission_school_list' %}">高考派分数线数据 school</a></li>
						<li><a href="{% url 'admission_major_list' %}">高考派分数线数据 major</a></li>
					</ul>
				</li>

				<!-- li class="dropdown">
					<a href="" class="" data-toggle="dropdown">
						数据Crawler
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'admission_school_crawler' %}">高考派分数线数据 school</a></li>
						<li><a href="{% url 'admission_major_crawler' %}">高考派分数线数据 major</a></li>
						<li><a href="{% url 'school_crawler' %}">高考派School数据</a></li>
						<li><a href="{% url 'major_crawler' %}">高考派Major数据</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="" class="" data-toggle="dropdown">
						数据导入
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'import_admission_school' %}">Admission by school</a></li>
						<li><a href="{% url 'import_admission_major' %}">Admission by major</a></li>
						<li><a href="{% url 'import_major' %}">Major codes</a></li>
					</ul>
				</li>

				<li>
					<a href="{% url 'school_map_filter' %}">
						<i class="fa fa-map-marker"></i>
						GoogleMap
					</a>
				</li-->
				<li>
					<a href="{% url 'school_echart_map_filter' %}">
						<i class="fa fa-university"></i>
						学校浏览
					</a>
				</li>					
				<li><a href="#about">About</a></li>
				<li><a href="#contact">
					<i class="fa fa-thumbs-up"></i>
					Contact</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right visible-md visible-lg">
				<li class="dropdown">
					<a href="" class="" data-toggle="dropdown">
						<i class="fa fa-user"></i>
						你好 {{ user }}
						<b class="fa fa-caret-down"></b>
					</a>
					<div class="dropdown-menu" style="min-width:250px; padding:0 20px 20px 20px;">
						<h4 class="page-header">
							<b class="fa fa-cogs"></b>
							你的个人情况
						</h4>

						<form class="" id="user-property-form" role="form" action="{% url 'user_property' %}" method="post">
							{% csrf_token %}
							<div class="form-group">
								<label for="province" class="control-label">
									你会在哪儿参加高考呢？
								</label>
								<input name="province" type="text" class="form-control" placeholder="写上你参加高考的省份吧" value="{{ user.myuserprofile.province }}">
							</div><div class="form-group">
								<label for="student_type" class="control-label">
									你在高中学文还是学理？
								</label>
								<select class="form-control" name="student_type">
									<option value="">--</option>

									{% if user.myuserprofile.student_type == '文科' %}
										<option value="文科" selected="selected">我学文科</option>
									{% else %}
										<option value="文科">我学文科</option>
									{% endif %}

									{% if user.myuserprofile.student_type == '理科' %}
										<option value="理科" selected="selected">我学理科</option>
									{% else %}
										<option value="理科">我学理科</option>
									{% endif %}
								</select>
							</div><div class="form-group">
								<label for="degree_type" class="control-label">
									上个大本还是大专？
								</label>
								<select class="form-control" name="degree_type">
									<option value="">--</option>

									{% if user.myuserprofile.degree_type == '本科' %}
										<option value="" selected="selected">本科</option>
									{% else %}
										<option value="本科">本科</option>
									{% endif %}

									{% if user.myuserprofile.degree_type == '专科' %}
										<option value="专科" selected="selected">专科</option>
									{% else %}
										<option value="专科">专科</option>
									{% endif %}
								</select>
							</div><div class="form-group">
								<label for="score" class="control-label">
								幻想一下考多少分吧？
								</label>
								<input name="score" type="number" step="10" class="form-control"
								placeholder="大胆猜测、不计后果 ^_^" 
								value="{{ user.myuserprofile.estimated_score }}">
							</div>

							<input class="btn btn-small btn-primary default pull-right ladda-button"  
							data-style="expand-right" 
							data-size="l" data-spinner-color="#333"
							id="btn-save-user-property" type="submit" value="Save">
								<span class="ladda-label"></span>
							</input>

						<div id="results"></div> <!-- errors go here -->
						</form>						
					</div>
				</li>

				<li>
					<a href="{% url 'logout' %}">
						<i class="fa fa-sign-out"></i>
						<span class="my-button-sm">Logout</span>
					</a>
				</li>
			</ul>
		</div><!--/.nav-collapse -->
		</div><!-- container-fluid -->
	</div>
{% endblock %}<!-- end of block navbar -->
	
{% block main %}
	{% block custom_tags %}
	{% endblock %}
	<div id="wrap">
	<div class="container">
			{% block page-info %}
			{% endblock %}
		
		<div class="page-header">
			<h1>
				{% block page-header %}
				{% endblock %}
			</h1>
		</div><!-- end of block header -->
		{% block message %}
		{% endblock %}
				
		{% block content %}
		{% endblock %}
	</div><!-- /.container -->
	<div id="push"></div>
	</div>
{% endblock %}<!-- end of block main -->

{# sandbox for testing client libs/css/js #}
{% block test %}	
{% endblock %}

{% block footer %}
<footer class="" id="footer">
	<i class="fa fa-copyright"></i>
	2015 MySAT Company Compile
</footer>
{% endblock %}<!- end of block footer -->

<!-- Placed at the end of the document so the pages load faster -->
{% block Javascripts %}	
    <!--script type="text/javascript"
    	src="https://cdnjs.cloudflare.com/ajax/libs/echarts/2.2.0/echarts-all.js">
    </script-->
    <script type="text/javascript"
    	src="{% static 'echarts/echarts-all.js' %}">
    </script> 

	{% compress js %}
	<!-- Latest compiled and minified JavaScript -->
	<script src="{% static 'bootstrap3/js/bootstrap.min.js' %}"></script>
		
	<!-- fuelux lib -->
	<!-- script src="//www.fuelcdn.com/fuelux/3.1.0/js/fuelux.min.js"></script -->
	<script src="{% static 'js/fuelux.min.js' %}"></script>

	<!-- easyui js -->	
	<script type="text/javascript" src="{% static 'easyui/jquery.easyui.min.js' %}"></script>

	<!-- syntaxhighlighter -->
	<script type="text/javascript" src="{% static 'syntaxhighlighter/scripts/shCore.js' %}"></script>
	<script type="text/javascript" src="{% static 'syntaxhighlighter/scripts/shBrushPython.js' %}"></script>

    <script type="text/javascript"
    	src="{% static 'js/jquery.cookie.js' %}">
    </script>    

    <!-- http://malsup.com/jquery/block/#demos -->
    <script type="text/javascript"
    	src="{% static 'js/jquery.blockUI.min.js' %}">
    </script> 

    {# loading spinner #}
    <script type="text/javascript"
    	src="{% static 'loading/spin.min.js' %}">
    </script>    
    <script type="text/javascript"
    	src="{% static 'loading/ladda.min.js' %}">
    </script>    
	{% endcompress %}	


	{# DataTable #}
    <script type="text/javascript"
    	src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript"
    	src="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js">
    </script>
    
	<script type="text/javascript">
		var j$ = jQuery.noConflict();

		// set up csrf token for jQuery ajax call to Django views
		var csrftoken = j$.cookie('csrftoken');
		function csrfSafeMethod(method) {
		    // these HTTP methods do not require CSRF protection
		    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		function sameOrigin(url) {
		    // test that a given url is a same-origin URL
		    // url could be relative or scheme relative or absolute
		    var host = document.location.host; // host + port
		    var protocol = document.location.protocol;
		    var sr_origin = '//' + host;
		    var origin = protocol + sr_origin;
		    // Allow absolute or scheme relative URLs to same origin
		    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
		        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
		        // or any other URL that isn't scheme relative or absolute i.e relative.
		        !(/^(\/\/|http:|https:).*/.test(url));
		}
		j$.ajaxSetup({
		    beforeSend: function(xhr, settings) {
		        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
		            // Send the token to same-origin, relative URLs only.
		            // Send the token only if the method warrants CSRF protection
		            // Using the CSRFToken value acquired earlier
		            xhr.setRequestHeader("X-CSRFToken", csrftoken);
		        }
		    }
		});

		// make fadeOut effect shorter 
		j$.blockUI.defaults.fadeOut = 1000; 
		function myBlockUI(){
 			j$.blockUI({ css: { 
	            border: 'none', 
	            padding: '15px', 
	            backgroundColor: '#000', 
	            '-webkit-border-radius': '10px', 
	            '-moz-border-radius': '10px', 
	            opacity: .5, 
	            color: '#fff'
	        	},
	        	//'message':'请等待 ....'
	        	'ignoreIfBlocked': true
        	}); 			
		}

		// common global widget initializations
		j$('table.my-datatable').dataTable({
			paging: false,
			info:false,
			"pagingType": "simple"
		});

		// register tab events
	   j$('a[data-toggle="tab"]').click(function ( e ) {
	        e.preventDefault ();
	        j$(this).tab('show');
	    });  

	   // show first tab after page loading
		j$('a[data-toggle="tab"]:first').tab('show');	

		// initialize all tooltips
		j$('[data-toggle="tooltip"]').tooltip();			
	</script>
{% endblock %} <!-- end of block JS -->

{# extra javascript code #}
{% block custom_js %}
{% endblock %}

</body>

</html>




