{% extends 'pi/common/base.html' %}

{% block content %}
<div class="row">
	<div class="col-sm-2">
		{# in page navigator #}

		<div class="sidebar-nav">
			<div class="navbar navbar-default" role="navigation">
			    <div class="navbar-header">
			        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			        </button>
			        <span class="visible-xs navbar-brand">Sidebar menu</span>
			    </div>
			    <div class="navbar-collapse collapse sidebar-navbar-collapse">
			    {% block detail-navbar %}
			    {% endblock %}
			    </div><!--/.nav-collapse -->
			</div><!-- end of navbar -->
		</div><!-- end of sidebar-nav -->
	</div><!-- end of div col- -->

	<div class="col-sm-7">
		{# page content #}
		{% block detail-content %}
		{% endblock %}
	</div>

	<div class="col-sm-3" style="border: 1px solid #ccc;">
		{% block detail-sidebar %}
		{% endblock %}
	</div>
</div>
{% endblock %}
