{% extends "pi/common/base.html" %}
{% load staticfiles %}

{% block custom_css %}
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript"
    	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBs9Lh9SBeGg8azzB5h50y8DDjxFO4SLwA&language=zh-cn">
    </script>

    {# JS hash library #}
    <script type="text/javascript" 
    	src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js">
    </script>
    
    {# Google map marker cluster #}
    {# http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclustererplus/docs/examples.html #}
    <script type="text/javascript" 
    	src="{% static 'js/markerclusterer.js' %}">
    </script>

    <script type="text/javascript">
    	var j$ = jQuery.noConflict();
    	var map, mapCluster;
    	var mcOptions = {
    		gridSize: 100, 
    		maxZoom: 13,
    		minimumClusterSize: 3
    	};
    	var markers={};
        var delay_marker_update_func;
        var show_keys = [];

		function initialize() {
			var mapOptions = {
				center: { lat: {{ center.lat }}, lng: {{ center.lng }} },
				zoom: 5,
                panControl: false,
                mapTypeControl: false
			};

            var styles = [
            /*
              {
                featureType: "all",
                stylers: [
                  { saturation: -80 }
                ]
              },{
                featureType: "road.arterial",
                elementType: "geometry",
                stylers: [
                  { hue: "#00ffee" },
                  { saturation: 50 }
                ]
              },{
                featureType: "poi.school",
                elementType: "labels",
                stylers: [
                  { hue: "#ff0000" },
                  { saturation: 50 }
                ]
              }
            */
            ];

			map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
            map.setOptions({styles: styles});

            // plot markers
            google.maps.event.addListener(map,'idle',delayUpdateMarker);
		}
		google.maps.event.addDomListener(window, 'load', initialize);

        // register infowin to marker
        function registerInfoWin(map,marker,obj_id){
            j$.post(
                "{{ info_win_url }}",
                {
                    'obj_id':obj_id
                },
                function(resp){
                    var info_win = new google.maps.InfoWindow({
                        content: resp['info_win_html']
                    });

                    // open info win
                    info_win.open(map,marker);
                },'json'
            );            
        }

        function getMarkerDetail (marker, obj_id, url){
            j$.post(
                url,
                {
                    'obj_id':obj_id
                },
                function(resp){
                    // disable existing marker animation
                    for (var hash in markers){
                        markers[hash].setAnimation(null);
                    }
                    marker.setAnimation(google.maps.Animation.BOUNCE);
                    j$('#map-detail').html(resp['html']);
                },'json'
            );
        }

		// update map markers based on viewport
		function delayUpdateMarker(){
            j$('#map-detail').html('Updating information, please wait....');            
            var timeout = 2000; // value after the map has loaded
            if (delay_marker_update_func) {
                clearTimeout(delay_marker_update_func);
            }else {
                timeout = 0;
            }
            delay_marker_update_func = setTimeout(ajaxUpdateMarkers, timeout);
        }

        function redrawMarkers(visible_markers, marker_list_html){
            myBlockUI();

            // populate visible list
            j$('#map-detail').html(marker_list_html)

            // update markers and marker clusters
            show_keys = [];
            var show_markers = [];
            var hide_markers = [];

            // iterate through markers to add remove old ones from map and add new ones
            for (var i=0; i<visible_markers.length; i++){
                // Must use toString. Otherwise a comparsion to markers' key will fail!
                //var hash = CryptoJS.MD5(resp[i].name).toString();
                var hash = visible_markers[i]['hash'];
                show_keys.push(hash);
                if (!markers.hasOwnProperty(hash)) {  
                    var pos = new google.maps.LatLng(visible_markers[i].lat,visible_markers[i].lng);
                    var marker = new google.maps.Marker({
                        position: pos,
                        map: map,
                        title: visible_markers[i].name,
                        obj_id: visible_markers[i].obj_id,
                        hash:visible_markers[i].hash
                    });

                    // register a click event to read record details on click
                    google.maps.event.addListener(marker, 'click',function(){
                        getMarkerDetail(this, this.obj_id, "{{ detail_url }}");
                    });
                    google.maps.event.addListener(marker,'mouseover',function(){
                        registerInfoWin(map,this,this.obj_id);
                    });
                    // update hashtable
                    markers[hash]=marker;
                }
            }// end of for

            for (var m in markers){
                if (show_keys.indexOf(m) != -1) { //show
                    show_markers.push(markers[m]);
                }else { // hide
                    hide_markers.push(markers[m]);
                }
            }

            if (mapCluster == null || mapCluster == undefined) {
                mapCluster = new MarkerClusterer(map, show_markers, mcOptions);
            }else {
                mapCluster.removeMarkers(hide_markers);
                mapCluster.addMarkers(show_markers);
            } 

            j$.unblockUI();                      
        }

        function ajaxUpdateMarkers(){
			var bounds = map.getBounds();
			var ne = bounds.getNorthEast();
			var sw = bounds.getSouthWest();

			// ajax to server to get a list of markers that are within the viewport
			j$.post("{{ marker_url }}", // passed in from view
				{ 
            	'ne.k': ne.k,
            	'ne.D':ne.D,
            	'sw.k': sw.k,
            	'sw.D':sw.D 
        		}, 
        		function(resp) { // success callback
                    var visible_markers = resp['markers'];
                    var marker_list_html = resp['marker_list_html'];
                    redrawMarkers(visible_markers, marker_list_html);
        		},'json'
            );		
		}

        j$('#zoom-to').click(function(){
            console.log('click to zoom to');
        });        
    </script>
{% endblock %}

{% block page-header %}
全国高校一览
{% endblock %}

{% block content %}
    <div id="map-canvas" class="" style="height:520px"></div>
    <div class="row" id="target">    
        <div id="map-detail" class="col-md-12"></div>
    </div>
{% endblock %}