{% extends "pi/common/base.html" %}
{% load staticfiles %}
{% load compress %}

{% block custom_css %}	
{% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static "theme/landed/sass/style.scss" %}" />
{% endcompress %}
	<style>
	body {
		background-image: url("{% static 'img/background-1684.jpg' %}");
		background-size: cover;
	}
	</style>	
{% endblock %}

{% block navbar %}
{% load crispy_forms_tags %}
	<div class="container my-header">
		<div class="row">
			<div class="col-md-3">
				<a href="{% url 'home' %}">
				<span class="my-logo">高考派</span>
				</a>
			</div>
			<div class="col-md-5">
			</div>
			<div class="col-md-4">
				<ul class="list-inline text-right">
					<li class="dropdown">
						<a href="#" id="navbar-dropdown-user" class="dropdown-toggle" data-toggle="dropdown">User
						<b class="caret"></b>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="navbar-dropdown-user">
							<li><a href="{% url 'login' %}">Login</a></li>
							<li><a href="{% url 'user_register' %}">Register</a></li>
						</ul>
					</li>
					<li>Report</li>
					<li>Contact</li>
				</ul>
			</div>
			</div>			
		</div>
	</div>
{% endblock %}

{% block main %}
	<div class="container my-content">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8 text-center">
				<h1 class="my-banner">学爸在此</h1>
				<h5 class="my-subbanner">
					<ul class="list-inline">
						<li>TEST </li>
						<li><span class="glyphicon glyphicon-plus"></span></li>
						<li>YOUR</li>
						<li><span class="glyphicon glyphicon-plus"></span></li>
						<li>FUTURE</li>
						<li>
							<a class="scrollX" href="#next">
								<span class="my-button-md">GET STARTED</span></li>
							</a>
					</ul>
				</h5>	
			</div>
			<div class="col-md-2"></div>			
		</div>
	</div>

		<!-- One -->
			<section id="next" class="spotlight style1 bottom">
				<span class="image fit main"><img src="images/pic02.jpg" alt="" /></span>
				<div class="content">
					<div class="container">
						<div class="row">
							<div class="4u 12u$(medium)">
								<header>
									<h2>Odio faucibus ipsum integer consequat</h2>
									<p>Nascetur eu nibh vestibulum amet gravida nascetur praesent</p>
								</header>
							</div>
							<div class="4u 12u$(medium)">
								<p>Feugiat accumsan lorem eu ac lorem amet sed accumsan donec.
								Blandit orci porttitor semper. Arcu phasellus tortor enim mi
								nisi praesent dolor adipiscing. Integer mi sed nascetur cep aliquet
								augue varius tempus lobortis porttitor accumsan consequat
								adipiscing lorem dolor.</p>
							</div>
							<div class="4u$ 12u$(medium)">
								<p>Morbi enim nascetur et placerat lorem sed iaculis neque ante
								adipiscing adipiscing metus massa. Blandit orci porttitor semper.
								Arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer
								mi sed nascetur cep aliquet augue varius tempus. Feugiat lorem
								ipsum dolor nullam.</p>
							</div>
						</div>
					</div>
				</div>
				<a href="#two" class="goto-next scrolly">Next</a>
			</section>	
{% endblock %}

	{% block footer %}
	<div class="row my-footer navbar-fixed-bottom">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="my-footer-banner">
			<ul class="list-inline text-center">
				<li>INTRODUCING THE ALL NEW CRYSTAL BALL</li>
				<li><span class="my-button-sm">Learn more</span></li>
			</ul>
			</div>
		</div>
		<div class="col-md-2">
		</div>
	</div>	
	{% endblock %}

{% block custom_js %}
		<script src="{% static 'theme/landed/js/jquery.scrolly.min.js' %}"></script>
		<script src="{% static 'theme/landed/js/jquery.dropotron.min.js' %}"></script>
		<script src="{% static 'theme/landed/js/jquery.scrollex.min.js' %}"></script>
		<script src="{% static 'theme/landed/js/skel.min.js' %}"></script>
		<script src="{% static 'theme/landed/js/skel-layers.min.js' %}"></script>
		<script src="{% static 'theme/landed/js/init.js' %}"></script>
{% endblock %}