
{%load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GKP</title>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="{% static 'theme/Oleose/assets/js/ie8-responsive-file-warning.js' %}"></script><![endif]-->
    <!-- script src="{% static 'theme/Oleose/assets/js/ie-emulation-modes-warning.js' %}"></script -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <!-- script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script -->
      <!-- script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script -->
      <script src="{% static 'js/html5shiv.min.js' %}"></script>
      <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->

    {# CDN section #}
    <!-- http://fortawesome.github.io/Font-Awesome/get-started/ -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
    {# Custom Fonts #}

    {# Bootstrap CSS #}   
    <link rel="stylesheet" href="{% static 'bootstrap3/css/bootstrap.min.css' %}"> 
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"-->

    {# application specific css #}
    <link href="{% static 'theme/agency/css/agency.css' %}" rel="stylesheet">
    <link href="{% static 'sass/my.css' %}" rel="stylesheet">  
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="{% url 'home' %}">一起高考吧</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="" style="">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    {% block extra_nav %}
                    {% endblock %}
                    
                    {# social login #}
                    <li>
                        <a class="page-scroll" href="#services">一起帮助</a>
                    </li>                                    
                    <li>
                        <a class="page-scroll" href="#showcase">一起考上啦</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#story">一起的故事</a>
                    </li>                    
                    <li>
                        <a class="page-scroll" href="#team">一起的小伙伴</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">悄悄话</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="intro-text" style="padding-left: 50%;">       
            {% if messages %}                 
            <ul class="list-unstyled pull-right" style="border:1px solid #fefefe; padding:50px;border-radius:20px;">
                {% for message in messages %}
                <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}                
            {% block login %}
                <div class="intro-lead-in" style="background-color:#333; padding: 10px 0;">大专院校搜索引擎</div>
                <div class="intro-heading" style="background-color:#333; padding: 10px 0;">高 大 全</div>
                <a href="{% url 'school_echart_map_filter' %}" class="btn btn-xl btn-info" title="点击开始学校搜索">
                    点击开始搜索
                    <i class="fa fa-arrow-right"></i>
                </a>
            {% endblock %}
        </div><!-- end of container -->  
    </header>

    {# Services Section #}
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">最疯狂的数据整理</h2>
                    <h3 class="section-subheading text-muted">一站式浏览你要的高校信息</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-university fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">选学校</h4>
                    <p class="text-muted">一览<span class="my-huge-font">3383</span>所大、专院校的
                   	<a href="{%url 'school_list'%}">海选引擎</a>，读
                    <a href="｛%url 'school_detail_hd' 78 %｝">学校百科</a>
                    了解学校的基本情况，每分钟<span class="my-huge-font">5万</span>条<a href="{%url 'school_detail_stream' 78%}">
                    校园动态</a>贴让你现在就知道校园里正在发生的故事</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">选专业</h4>
                    <p class="text-muted">搜索<span class="my-huge-font">1663</span>个<a href="{%url 'major_list'%}">专业</a>、
                    <span class="my-huge-font">79910</span>个高校专业交叉合集，让我们的数据分析告诉你
                    哪个专业是<a href="{% url 'major_rank' %}">职场</a><span class="my-huge-font">大热门</span>
                 	</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-group fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">选服务</h4>
                    <p class="text-muted">
                    <span class="my-huge-font">33万</span>条历年<a href="{%url 'admission_school_list' %}">高校考分</a>，
                    <span class="my-huge-font"> 2百万</span>条学校<a href="{%url 'admission_major_list'%}">专业分数</a>排名，
                    我们为你提供只有<span class="my-huge-font">大数据</span>才能支撑起的<a href="{%url 'major_rank'%}">知分选校</a>服务
					 </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="showcase" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">你问我答</h2>
                    <h3 class="section-subheading text-muted">用我们的知识来帮助你解决择校难题</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/How-College-Choice-Impacts-Life-Career-infographic.png' %}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>如何快速筛选学校</h4>
                        <p class="text-muted">多维度的查询</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/startup-framework.png' %}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>如何快速了解一个学校</h4>
                        <p class="text-muted">详尽的学校百科</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/Job-Search.jpg' %}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>如何选择我的专业</h4>
                        <p class="text-muted">动态的各专业对口招聘信息</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/golden.png' %}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>如何了解校园生活</h4>
                        <p class="text-muted">在校生的社交网络</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/escape.png' %}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Escape</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/dreams.png' %}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Dreams</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Timeline Section -->
    <section id="story">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Story</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'img/story/1.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'img/story/2.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'img/story/3.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'img/story/4.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">the Team</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'img/team/1.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Kay Garland</h4>
                        <p class="text-muted">Lead Designer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'img/team/2.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Larry Parker</h4>
                        <p class="text-muted">Lead Marketer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'img/team/3.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Diana Pertersen</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="{% static 'img/logos/envato.jpg' %}" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="{% static 'img/logos/designmodo.jpg' %}" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="{% static 'img/logos/themeforest.jpg' %}" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="{% static 'img/logos/creative-market.jpg' %}" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Your Website 2014</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>如何选校</h2>
                            <p class="item-intro text-muted">选择一所合适你的学校并不容易</p>
                            <img class="img-responsive" src="{% static 'img/portfolio/How-College-Choice-Impacts-Life-Career-infographic.png' %}" alt="">
                            <p>
                            如何选择一所合适的学校有很多需要考虑的因素，是学本科还是专科？离家远近？学费多少？住宿环境如何？专业排名怎样？
                            未来工作前景又是什么？学校有没有实习机会？所在城市未来的发展又将带来怎样的人生机遇？
                            </p>
                            <p>
                                <strong>让我们的海选引擎带你入门</strong>
                            </p>
                            <p>
                            	通过<a href="｛%url 'school_list' %}">海选引擎</a>，
                            	你可以通过多维度的搜索快速浏览、查询<span class="my-huge-font">3383</span>所大专院校，帮助你筛选、定位自己心仪的目标。
                            </p>
                            <ul class="list-inline">
                                <li>难题一: 如何择校</li>
                                <li>对策: <a href="{%url 'school_list'%}">海选引擎</a></li>
                                <li>我们的目标: 通过多维度的搜索帮助快速定位目标</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>如何快速了解一个学校</h2>
                            <p class="item-intro text-muted">海量的网络数据我们来收集整理</p>
                            <img class="img-responsive img-centered" src="{% static 'img/portfolio/startup-framework-preview.png' %}" alt="">
                            <p>
								一所高校已经不再是你所熟悉的白天去上课、晚上回家的生活，你的宿舍就是你的家，你的校园就是你的城市。
								校园以及校园所在的城市，里面发生的点点滴滴都将
								对你未来的几年产生影响，是选择一个大城市为了毕业后有更多的机会和人脉？还是一个二三线城市温馨的家的感觉？是去寒冷的北方住上几年看冰灯打雪仗？还是去
								沐浴南方的阳光沙滩和炽热的夏天？
                            </p>
                            <p>
                                <strong>让我们的校园百科告诉你</strong>
                            </p>
                            <p>
                            	我们通过收集整理多个数据来源，编辑出各大专院校的基本情况和他们的<a href="｛%url 'school_detail' 1%}">百科</a>知识，
                            	让你轻松就能了解一个学校的基本情况。
                            </p>
                            <ul class="list-inline">
                                <li>难题二: 如何了解一个学校</li>
                                <li>对策: <a href="{%url 'school_detail' 1%}">学校百科</a></li>
                                <li>我们的目标: 通过收集整理学校数据提供最直观的学校常识</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>如何选择我的专业</h2>
                            <p class="item-intro text-muted">选择专业，更是在选择未来的就业</p>
                            <img class="img-responsive img-centered" src="{% static 'img/portfolio/Job-Search.jpg' %}" alt="">
                            <p>
                           	术业有专攻，踏入高校也就开始了人生进入职场的第一步。选择的专业不仅要符合自己的兴趣爱好，还希望未来会有
                           	一个好的就业前景和发展方向
                            </p>
                            <p>
                                <strong>让我们的专业排行榜告诉你</strong>
                            </p>
                            <p>
                           	我们收集了<a href="{%url 'major_list'%}">1663</a>个专业的信息，超过
                           	<span class="my-huge-font">7万</span>个高校与专业交叉合集，并且引入了目前企业
                           	的招聘动态数据，让你第一时间看到所选专业的就业前景。
                            </p>
                            <ul class="list-inline">
                                <li>难题三: 如何选择一个专业</li>
                                <li>对策: <a href="{%url 'major_rank'%}">专业排名</a></li>
                                <li>我们的目标: 通过对接动态的招聘信息，让你看到真实的未来</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>如何了解
                            校园
                            生活</h2>
                            <p class="item-intro text-muted">校园里的故事我们知道</p>
                            <img class="img-responsive img-centered" src="{% static 'img/portfolio/golden-preview.png' %}" alt="">
                            <p>
                            充满了对未来校园生活的期盼，你是不是已经迫不及待的想要知道在校的学长学姐们都在想些什么做些什么？
                            食堂好不好吃？住宿条件怎样？是在快乐的party还是已经被考试折磨的无力吐槽？校花校草们的颜值几许？
                            我是不是能找到心仪的另一半愉快的玩耍？你找不到一个网站、一个百科全书会告诉你这些，而我们利用世界一流
                            的技术和分析工具为你量身打造了答案。
                            </p>
                            <p>
                                <strong>让我们的校园吧告诉你</strong>
                            </p>
                            <p>
                           	我们集中整合了多个流行的社交网络平台，每分钟收集超过<span class="my-huge-font">5万</span>条新帖，不仅
                           	为你提供第一手的学生生活缩影，而且海量数据分析出热门话题，让你和当下校园的脉搏
                           	形影不离。
                            </p>
                            <ul class="list-inline">
                                <li>难题四: 如何了解校园生活</li>
                                <li>对策: <a href="{%url 'school_detail_stream' 1%}">校园吧</a></li>
                                <li>我们的目标: 整合社交网络的海量数据，为你把握校园的脉动</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="{% static 'img/portfolio/escape-preview.png' %}" alt="">
                            <p>Escape is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Escape is a one page web template that was designed with agencies in mind. This template is ideal for those looking for a simple one page solution to describe your business and offer your services.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/">FreebiesXpress.com</a>.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="{% static 'img/portfolio/dreams-preview.png' %}" alt="">
                            <p>Dreams is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Dreams is a modern one page web template designed for almost any purpose. It’s a beautiful template that’s designed with the Bootstrap framework in mind.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/">FreebiesXpress.com</a>.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# modal windows #}
    {% block modals %}
    {% endblock %}

    {# CDN section #}
    <!-- JQuery lib -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js" type="text/javascript"></script>
    <script src="{% static 'js/modernizr.custom.32033.js' %}" type="text/javascript"></script>    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" type="text/javascript"></script>    
    <!-- script src="{% static 'jquery/dist/jquery.min.js' %}"></script -->

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap3/js/bootstrap.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'theme/agency/js/agency.js' %}"></script>  
</body>

</html>
