<section class="section">
{% if objs %}
<h4>{{start.city}} &rarr; {{dest.city}}</h4>
<ul id="myTab" class="nav nav-tabs">
{% for category,trains in group_by_category.iteritems %}
	{% if trains %}
	<li><a href="#train-{{category}}" data-toggle="tab">
		{{category}}({{trains|length}})
	</a></li>
	{% endif %}		
{% endfor %}
</ul>

<div id="myTabContent" class="tab-content">
	{% for category, trains in group_by_category.iteritems %}
	{% if trains %}
	<div class="tab-pane" id="train-{{category}}">
		<table class="table table-responsive table-condensed table-striped">
			<thead>
				<th class="col-sm-1">车次</th>
				<th class="col-sm-2">出发</th>
				<th class="col-sm-2">到达</th>
				<th class="col-sm-1">时长</th>
				<th class="col-sm-6">列车经停站</th>
			</thead>
			<tbody>
				{% for train in trains %}
				<tr><td>
					{{ train.train_id }}
					</td><td>
						<span class="label label-default">{{train.start.stop_name}}</span>
						<br />
						{{ train.start.departure_time }}开车
					</td><td>
						<span class="label label-default">{{train.dest.stop_name}}</span>				
						<br />
						{{ train.dest.arrival_time }}到站
					</td><td>
						{{ train.segment_duration_hours|floatformat:"0" }}小时
						{{train.segment_duration_minutes|floatformat:"0"}}分钟
					</td><td>
					{% for stop in train.stops %}
						<span data-type="stop" data-toggle="tooltip" 
						title="{{stop.arrival_time}}到站, 
						已运行{{stop.in_route_duration}}"
						>
						{{ stop.stop_name }}
						</span>
						{% if not forloop.last %}
							&rarr; 
						{% endif %}
					{% endfor %}
				</td></tr>
				{% endfor %}
			</tbody>
		</table>		
	</div>
	{% endif %}
	{% endfor %}
</div>
{% else %}
	<p>真抱歉，没查到从{{req_start_province}}{{req_start_city}}到{{dest.city}}的直达车 ::&gt;_&lt;::</p>

	<p>记得出发地的省、市都要填写哦!</p>
	<a href="">重新再找</a>
{% endif %}
<section>

<script type="text/javascript">
j$(document).ready(function(){
	// starting first tab
	j$('[data-toggle="tab"]:first').tab('show');

	// initialize all tooltips
	j$("[data-toggle='tooltip']").tooltip({
		'placement': 'bottom'
	});

	// highlight relevant stops
	j$('span[data-type="stop"]').each(function(){
		var label = j$(this).text();
		if ((label.indexOf("{{start.city}}") >=0) || (label.indexOf("{{dest.city}}")>=0)) {
			j$(this).addClass('label label-info active');
		}
	});

	// register stop event
	j$('span[data-type="stop"]').click(function(){
		var stop = j$.trim(j$(this).text());
		j$('#input-dept-state').val('');
		j$('#input-dept-city').val(stop);
	});
});

</script>