{% extends 'pi/common/detail.html' %}

{% load staticfiles %}
{% block page-header %}
	<div>
		{{ object.name }}
		<a href="{% url 'school_edit' object.id %}" class="btn btn-xs addlink">
			<i class="fa fa-plus"></i>
			edit
		</a>

		<div class="btn-group pull-right"> 
		    <button
		    	{% if object in user.myuserprofile.school_bookmarks.all %} 
		    		class="btn btn-small ladda-button btn-primary"
		    	{% else %}
		    		class="btn btn-small ladda-button" 
		    	{% endif %}

		    	id="btn-school-bookmark" 
		    	style="border-right:1px solid #fefefe;margin-right:1px;" 
		    	data-style="expand-left" 
				data-size="l" 
				data-spinner-color="#333" 
				data-toggle="tooltip" 
				title="添加到我的收藏中"
			>
				<span class="ladda-label"></span>			
		    	<i class="fa fa-heart-o"></i>
		    	Bookmark
		    </button>
		    <button 
		    	{% if object in user.myuserprofile.school_xouts.all %} 
		    		class="btn btn-small ladda-button btn-primary"
		    	{% else %}
		    		class="btn btn-small ladda-button" 
		    	{% endif %}
		    	
				data-style="expand-right" 
				data-size="l" 
				data-spinner-color="#333" 		    
		    	data-toggle="tooltip" 
		    	title="我再也不想看见这个学校啦 >_<" 
		    	id="btn-school-xout"
		    >
				<span class="ladda-label"></span>			    
		    	<i class="fa fa-thumbs-o-down"></i>
		    	X-OUT
		    </button>
	  	</div>
  	</div>
	<small class="my-footer-banner">{{ object.en_name }}</small>
{% endblock %}

{% block detail-navbar %}
<ul class="nav navbar-nav">
    <li class="">
        <a href="#school-intro">学校简介
		<span class="pull-right"><i class="fa fa-angle-right"></i></span>
		</a>
    </li>

    <li class="">
    	<a href="#school-major">学校专业
		<span class="pull-right"><i class="fa fa-angle-right"></i></span>    	
    	</a>
    </li>

    <li class="dropdown">
		<a href="#school-admission">
			往年录取分数线
			<span class="pull-right"><i class="fa fa-angle-right"></i></span>
		</a>
    </li>
    <li class="">
    	<a href="#school-stream">
    	聊天啦!
			<span class="pull-right"><i class="fa fa-angle-right"></i></span>
    	</a>
    </li>    
</ul>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li>
		<a href="{% url 'school_echart_map_filter' %}">全国</a>
	</li>
	<li>
		<a href="{% url 'analysis_school_by_province' object.province.id %}">{{object.province}}</a>
	</li>
	<li>
		<a href="{% url 'analysis_school_by_province' 1 %}">{{ object.city }}</a>
	</li>
	<li class="active">{{ object.name }}</li>
</ol>
{% endblock %}

{% block detail-content %}
		{# google map of this school #}
		<section>
			<iframe
			  width="100%"
			  height="250"
			  frameborder="0" style="border:0"
			  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBs9Lh9SBeGg8azzB5h50y8DDjxFO4SLwA&q={{ object.name }}&language=zh-cn">
			</iframe>
		</section>

		{# school related majors #}
		<section id="school-major">
			<h2 class="my-h2-border">学校专业</h2>

			<ul class="list-inline">
			{% regroup majors|dictsort:"student_type" by student_type as by_major_category_list %}
			{% for student_type in by_major_category_list %}
				<li>
					<h3>
						<i class="fa fa-hand-o-right"></i>			
						<span class="label label-primary">{{ student_type.grouper }}</span>
					</h3>
				</li>
				<ul class="list-inline">
				{% for ad in student_type.list %}
					<li><a href="{%url 'major_detail' ad.id %}">{{ ad }}</a></li>
				{% endfor %}
				</ul>
			{% endfor %}
			</ul>
		</section>

		{# school admission score tables #}
		<section id="school-admission">
			<h2 class="my-h2-border">录取分数线</h2>

			{% if school_admission_by_year %}
				<ul id="myTab" class="nav nav-tabs">
				{% for year in school_admission_by_year %}
					<li><a href="#school-admission-{{year}}" data-toggle="tab">
						{{year}}年
					</a></li>			
				{% endfor %}
				</ul>

				<div id="myTabContent" class="tab-content">
				{% for year,school_list in school_admission_by_year.items %}
					<div class="tab-pane" id="school-admission-{{year}}">
					{% regroup school_list|dictsort:"category" by category as admission_by_cat %}
					{% for category in admission_by_cat %}
					{# 理科 #}
					<h3>
					<i class="fa fa-hand-o-right"></i>
					<span class="label label-primary">{{ category.grouper }}</span>
					</h3>
						
					
					<table class="table table-condensed table-striped table-hover">
						<thead><tr>
							<th>招生地区</th>
							<th>考生类别</th>
							<th>录取批次</th>
							<th>最低分</th>
							<th>最高分</th>
							<th>平均分</th>
							<th>省控线</th>
						</tr></thead>
						<tbody>
							{% for s in category.list %}
								<tr>
									<td>{{ s.province|default:"暂无信息" }}</td>
									<td>{{ s.category|default:"暂无信息" }}</td>
									<td>{{ s.batch|default:"暂无信息" }}</td>
									<td>{{ s.min_score|default:"&mdash;" }}</td>
									<td>{{ s.max_score|default:"&mdash;" }}</td>
									<td>{{ s.avg_score|default:"&mdash;" }}</td>
									<td>{{ s.province_score|default:"&mdash;"}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					{% endfor %}<!-- end cat loop -->
					</div>
				{%endfor%}<!-- end year loop-->
			</div><!-- end of tab content -->	
			{% else %}
				暂无信息
			{% endif %}					
		</section>

		{# school admission score tables #}
		<section id="school-stream">
			<h2 class="my-h2-border ladda-button" 
			data-style="expand-right" 
			data-size="l" data-spinner-color="#333" id="school-stream-bd">
			同学们都在说什么呢
			<span class="ladda-label">
			</h2>
			<div id="school-tieba"></div>
		</section>		
{% endblock %}

{% block detail-sidebar %}
	{# float to right, attributes #}
	{# school introduction #}
	<section id="school-intro">
		<h4 class="my-h2-border"><i class="fa fa-university"></i>学校简介</h4>
		<div style="overflow:hidden;max-height:300px;">
		{{ object.description|default:"暂无信息"|safe|truncatechars:1000 }}
		</div>
	</section>

	{# float to right, related #}
	<h4>
		<i class="fa fa-university"></i>
		招生院校推荐
	</h4>

	<div class="panel-group" id="accordion">
		{% regroup related_schools|dictsort:"province" by province as by_school_province_list %}
		{% for province in by_school_province_list %}	
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion"
					href="#school-{{forloop.counter}}">
						{{ province.grouper }}
						<span class="badge pull-right">{{ province.list|length }}</span>
					</a>
					</h4>
				</div>

				<div id="school-{{forloop.counter}}" class="panel-collapse collapse">
					<div class="panel-body">
						<ul class="list-inline">
							{% for o in province.list %}
								<li>
									<a href="{% url 'school_detail' o.id %}">{{ o }}</a>				
								</li>						
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>		
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
	function get_bd_tb(){
		// loading spinner
		var l = Ladda.create(j$('#school-stream-bd')[0]);
	 	l.start();
	 			
        // ajax to server to get a list of columns:4"markers that are within the viewport
        j$.post("{% url 'integration_baidu_tieba_ajax' %}", // passed in from view
            { 
                'obj_id':{{ object.id }},
            }, 
            function(resp) { // success callback
                j$('#school-tieba').html(resp['html']);             
                //setTimeout(get_bd_tb, 30000); // refresh every 30 seconds
            },'json'
        ).always(function(){
    		// remove spinner
    		l.stop();        	
        });  
	}

	j$(document).ready(function(){
		setTimeout(get_bd_tb,500);

		j$(document).delegate('*[data-toggle="lightbox"]', 'click', function(e) {
		    e.preventDefault();
		    j$(this).ekkoLightbox();
		}); 

		j$('#btn-school-bookmark').click(function(){
			var l = Ladda.create(this);
	 		l.start();

	        // ajax to server to get a list of columns:4"markers that are within the viewport
	        j$.post("{% url 'user_bookmark' %}", // passed in from view
	            { 
	                'obj_id':{{ object.id }},
	                'action':1
	            }, 
	            function(resp) { // success callback
	            	if (resp['status'] == 'ok'){
	            		j$('#btn-school-bookmark').toggleClass('btn-primary');
	            		j$('#btn-school-xout').removeClass('btn-primary');
	            	}
	            	update_user_bookmarks();
	            },'json'
	        ).always(function(){     
	        	l.stop(); 	
	        });			
		});
		j$('#btn-school-xout').click(function(){
			var l = Ladda.create(this);
	 		l.start();

	        // ajax to server to get a list of columns:4"markers that are within the viewport
	        j$.post("{% url 'user_bookmark' %}", // passed in from view
	            { 
	                'obj_id':{{ object.id }},
	                'action':2
	            }, 
	            function(resp) { // success callback
	            	if (resp['status'] == 'ok'){
	            		j$('#btn-school-xout').toggleClass('btn-primary');
	            		j$('#btn-school-bookmark').removeClass('btn-primary');
	            	}
	            	update_user_bookmarks();
	            },'json'
	        ).always(function(){  
	        	l.stop();     	
	        });			
		});		

	});
</script>
{% endblock %}