{% extends 'pi/school/detail.html' %}

{% block detail-content %}
<blockquote>
分数线数据可能与各院校公布的数据有出入，届时请以学校官网的数据为准
</blockquote>

{% if school_admission_by_year %}
	<ul id="myTab" class="nav nav-tabs">
	{% for year in school_admission_by_year %}
		<li><a href="#school-admission-{{year}}" data-toggle="tab">
			{{year}}年
		</a></li>			
	{% endfor %}
	</ul>
	<div id="myTabContent" class="tab-content">
	{% for year,school_list in school_admission_by_year.items %}
		<div class="tab-pane" id="school-admission-{{year}}">
		{% regroup school_list|dictsort:"category" by category as admission_by_cat %}
		{% for category in admission_by_cat %}
		{# 理科 #}
		<h3>
		<i class="fa fa-hand-o-right"></i>
		<span class="label label-primary">{{ category.grouper }}</span>
		</h3>
			
		
		<table class="table table-condensed table-striped table-hover">
			<thead><tr>
				<th>招生地区</th>
				<th>考生类别</th>
				<th>录取批次</th>
				<th>最低分</th>
				<th>最高分</th>
				<th>平均分</th>
				<th>省控线</th>
			</tr></thead>
			<tbody>
				{% for s in category.list %}
					<tr>
						<td>{{ s.province|default:"暂无信息" }}</td>
						<td>{{ s.category|default:"暂无信息" }}</td>
						<td>{{ s.batch|default:"暂无信息" }}</td>
						<td>{{ s.min_score|default:"&mdash;" }}</td>
						<td>{{ s.max_score|default:"&mdash;" }}</td>
						<td>{{ s.avg_score|default:"&mdash;" }}</td>
						<td>{{ s.province_score|default:"&mdash;"}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endfor %}<!-- end cat loop -->
		</div>
	{%endfor%}<!-- end year loop-->
</div><!-- end of tab content -->	
{% else %}
	 根据你的私人订制条件没有查到合适的分数信息 ::&gt;_&lt;::, 是不是这个学校不在你那儿招生哦？
{% endif %}					

{% endblock %}

{% block custom_js %}
<script type="text/javascript">
j$(document).ready(function(){
	j$('ul[data-type="nav-side"]').children('li').removeClass('active');
	j$('#nav-school-admission').addClass('active');
});
</script>
{% endblock %}