{% extends 'pi/common/base.html' %}

{% load staticfiles %}
{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/school.css' %}">
{% endblock %}

{% block page-header %}
	{{ object.name }}
	<a href="{% url 'school_edit' object.id %}" class="btn btn-xs addlink">
		<span class="glyphicon glyphicon-plus"></span>
		edit
	</a>

  <div class="st">
    <img src="http://www.gaokaopai.com/Public/Images/ico1.png" alt="211" title="211">    <img src="http://www.gaokaopai.com/Public/Images/ico2.png" alt="985" title="985">    <img src="http://www.gaokaopai.com/Public/Images/ico3.png" alt="研究生院" title="研究生院">    <img src="http://www.gaokaopai.com/Public/Images/ico4.png" alt="自主招生" title="自主招生">    <img src="http://www.gaokaopai.com/Public/Images/ico5.png" alt="国防生" title="国防生">      </div>	
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-2">
		{# in page navigator #}

		<div class="sidebar-nav">
			<div class="navbar navbar-default" role="navigation">
			    <div class="navbar-header">
			        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			        </button>
			        <span class="visible-xs navbar-brand">Sidebar menu</span>
			    </div>
			    <div class="navbar-collapse collapse sidebar-navbar-collapse">
			        <ul class="nav navbar-nav">
			            <li class="">
			                <a href="#school-intro">学校简介</a>
			            </li>
			            <li class="dropdown">
			                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				    		录取分数线
				      		
			                    <b class="caret"></b>
			                </a>
			                <ul class="dropdown-menu">
								{% for year in sorted_school_admission %}
			                    <li>
			                        <a href="#school-admission-{{ year }}">{{year}}年</a>
			                    </li>
								{% endfor %}
			                </ul>
			            </li>
			        </ul>
			    </div><!--/.nav-collapse -->
			</div><!-- end of navbar -->
		</div><!-- end of sidebar-nav -->
	</div><!-- end of div col- -->

	<div class="col-sm-7">
		{# page content #}

		{# google map of this school #}
		<section>
			<iframe
			  width="100%"
			  height="250"
			  frameborder="0" style="border:0"
			  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBs9Lh9SBeGg8azzB5h50y8DDjxFO4SLwA&q={{ object.name }}&language=zh-cn">
			</iframe>
		</section>

		{# school introduction #}
		<section id="school-intro">
			<h2 class="my-h2-border">学校简介</h2>
			{{ object.description|default:"暂无信息"|safe|truncatechars:1000 }}
		</section>

		{# school admission score tables #}
		<section id="school-admission">
			<h2 class="my-h2-border">录取分数线</h2>

			<ul id="myTab" class="nav nav-tabs">
			{% for year in sorted_school_admission %}
				<li><a href="#school-admission-{{year}}" data-toggle="tab">
					{{year}}年
				</a></li>
			{% endfor %}
			</ul>

			<div id="myTabContent" class="tab-content">
			{% for year,school_list in sorted_school_admission.items %}
				<div class="tab-pane" id="school-admission-{{year}}">
				{% regroup school_list|dictsort:"category" by category as admission_by_cat %}
				{% for category in admission_by_cat %}
				{# 理科 #}
				<h3>
				<i class="fa fa-hand-o-right"></i>
				<span class="label label-primary">{{ category.grouper }}</span>
				</h3>

				<p>
				招生人数为xyz个，覆盖{{category.list|length}}个省，招生分数最高为
				xyz的省的123分，最低分为xyz省的123分，分差最大的为xyz省(456-123=123分)，分差最小的
				为xyz省（456-123=123分)。
				</p>					
				
				<table class="table table-condensed table-striped table-hover">
					<thead><tr>
						<th>招生地区</th>
						<th>考生类别</th>
						<th>录取批次</th>
						<th>最低分</th>
						<th>最高分</th>
						<th>平均分</th>
						<th>省控线</th>
					</tr></thead>
					<tbody>
						{% for s in category.list %}
							<tr>
								<td>{{ s.province|default:"暂无信息" }}</td>
								<td>{{ s.category|default:"暂无信息" }}</td>
								<td>{{ s.batch|default:"暂无信息" }}</td>
								<td>{{ s.min_score|default:"&mdash;" }}</td>
								<td>{{ s.max_score|default:"&mdash;" }}</td>
								<td>{{ s.avg_score|default:"&mdash;" }}</td>
								<td>{{ s.province_score|default:"&mdash;"}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{% endfor %}<!-- end cat loop -->
				</div>
			{%endfor%}<!-- end year loop-->
			</div><!-- end of tab content -->			
		</section>
	</div>

	<div class="col-sm-3" style="border: 1px solid #ccc;">
		{# float to right, attributes #}
		<h4>
			<i class="fa fa-university"></i>
			 学校快照
		</h4>
		<dl class="dl-horizontal my-dl-horizontal">
			<dt>City</dt><dd>{{ object.city|default:"暂无信息"}}</dd>
			
			<dt>Province</dt><dd>
				{% if object.province %}
					<a href="{% url 'analysis_school_by_province' object.province.id %}">{{ object.province }}</a>
				{% else %}
					暂无信息
				{% endif %}
			</dd>
			
			<dt>地址</dt><dd>{{ obj.address|default:"暂无信息"}}</dd>
			<dt>创建时间</dt><dd>{{ object.founded|default:"暂无信息" }}</dd>
			<dt>学校类型</dt><dd>{{ object.school_type|default:"暂无信息"}}</dd>
			<dt>学生人数</dt><dd>{{ object.no_student|default:"暂无信息" }}
				{% if object.no_student %}
					人
				{% endif %}
			</dd>
			<dt>院士人数</dt><dd>{{ object.no_fellow|default:"暂无信息" }}
				{% if object.no_fellow %}
					人
				{% endif %}
			</dd>
			<dt>博士点个数</dt><dd>{{ object.no_phd_program|default:"暂无信息" }}
				{% if object.no_phd_program %}
					个
				{% endif %}
			</dd>
			<dt>硕士点个数</dt><dd>{{ object.no_master_program|default:"暂无信息" }}
				{% if object.no_master_program %}
					个
				{% endif %}			
			</dd>
			<dt>重点学科</dt><dd>{{ obj.no_key_major|default:"暂无信息" }}
				{% if object.no_key_major %}
					个
				{% endif %}					
			</dd>
			<dt>隶属于</dt><dd>教育部</dd>
		</dl>

		{# float to right, related #}
		<h4>
			<i class="fa fa-university"></i>
			院校推荐
		</h4>
		<ul class="list-inline">
			{% regroup related_schools by batch as obj_list %}
			{% for batch in obj_list %}
				<h5 class="my-section-header">{{ batch.grouper }}</h5>
				<ul class="list-inline">
					{% for o in batch.list %}
						<li>
							<a href="{% url 'school_detail' o.school.id %}">{{ o.school }}</a>
						</li>						
					{% endfor %}
				</ul>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
	j$(document).ready(function(){
		j$('table.table').dataTable({
			paging: false,
			info:false,
			"pagingType": "simple"
		});

		// register tab events
	   j$('a[data-toggle="tab"]').click(function ( e ) {
	        e.preventDefault ();
	        j$(this).tab('show');
	    });  

	   // show first tab after page loading
		j$('a[data-toggle="tab"]:first').tab('show');	   
	});
</script>
{% endblock %}
