{% extends 'pi/school/detail.html' %}

{% block detail-content %}
<div class="" data-target="#content" data-spy="" 
style="">
<h4>目录</h4>
<ol id="toc"></ol>
</div>

{{ object.hudong|default:""|safe }}

<script type="text/javascript">
var j$ = jQuery.noConflict();
j$(document).ready(function(){
	j$('ul[data-type="nav-side"]').children('li').removeClass('active');
	j$('#nav-school-hd').toggleClass('active');

	j$("#toc").tableOfContents(
		'div#content',                        // Default scoping
		{
		  startLevel:           2,   // H1
		  depth:                4,   // H1 through H4
		  proportionateSpacing: true, // Spacing On
		  topLinks: true
		}
	); 
});
</script>
{% endblock %}


