{% load staticfiles %}

<h2 class="page-header">
	{{ schools.0.province }}
	<a href="{% url 'school_emap_list' schools.0.province.id %}" class="btn btn-xs addlink">
		更多信息 ....
		<i class="fa fa-angle-double-right"></i>
	</a>
</h2>
<div class="container">
	{# some aggregated data as a teaser so user will click to see more details #}
	<blockquote>
	{{ schools.0.province}}共查到{{ schools|length }}个大、专院校。其中，
	{{b_count}}个院校招收本科，{{ a_count }}个院校招收专科。这其中，
	{{ a_b_count }}个院校既有本科也有专科招生，并且有{{ p_count }}个院校
	提前招生。
	</blockquote>
	<ul class="nav nav-tabs">
		{% for s in section_index %}
		<li class="">
			<a href="#{{s}}">{{ s }}</a>
		</li>
		{% endfor %}
	</ul>
</div>
