{% extends "pi/common/base.html" %}
{% load staticfiles %}

{% block custom_css %}
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
    	var j$ = jQuery.noConflict();
        function echart_map(){
            var options = {
                title : {
                    text: '共查到符合你条件的学校{{ total_count }}个',
                    subtext: '使用的分数线标准为你的估分的+/-50分',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item'
                },
                legend: {
                    orient: 'vertical',
                    x:'left',
                    data:['高校',]
                },
                dataRange: {
                    min: {{ echart_data_min }},
                    max: {{ echart_data_max }},
                    //text:['高','低'],    // 文本，默认为数值文本
                    orient: 'vertical', // 'vertical'
                    formatter : function(v,v2){
                        var step = Math.ceil({{ echart_data_max }}/5);
                        var v_1 = step * Math.ceil(v/step);
                        var v_2 = step * Math.ceil(v2/step);
                        return v_1+' - '+v_2
                    }
                },
                toolbox: {
                    show: false,
                    orient : 'horizontal',
                    x: 'right',
                    y: 'top',
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                roamController: {
                    show: false,
                    x: 'right',
                    mapTypeControl: {
                        'china': true
                    }
                },
                series : [
                    {
                        name: 'University',
                        type: 'map',
                        mapType: 'china',
                        roam: false,
                        itemStyle:{
                            normal:{
                                label:{
                                    show:true,
                                    formatter:'{a}'
                                },
                            },
                            emphasis:{
                                label:{
                                    show:true
                                },                            
                            }
                        },
                        data:[
                            {% for p_id, province,count in echart_data %}
                                {name:'{{ province }}', value:{{ count }}, 'p_id':{{ p_id }}},
                            {% endfor %}
                        ]
                    }
                ] // end of data series
            }// end of options

            var myChart = echarts.init(document.getElementById('echart-canvas'),'default');
            myChart.setOption(options);

            myChart.on('click', function(param){
                var province_id = param.data.p_id;
                j$('div[data-type="school"]').each(function(){
                    j$(this).hide();
                });
                j$('#accordion-'+province_id).show();
            });
        } // end of func        

        j$(document).ready(function(){
            j$('#user-config').dropdown('toggle');
            echart_map();
        })
    </script>
{% endblock %}

{% block page-header %}
全国高校一览
{% endblock %}

{% block content %}
    <div class="row" id="target">    
        <div id="echart-canvas" class="col-md-9" style="height:450px"></div>    
        <div class="col-md-3">
            {% regroup schools|dictsort:"province" by province as by_province_list %}
            {% for province in by_province_list %}
            <div class="panel-group" id="accordion-{{ province.grouper.id }}" data-type="school" style="display:none;">
                {% regroup province.list|dictsort:"city" by city as by_city_list %}
                {% for city in by_city_list %}
                <div class="panel panel-default" id="province-{{province.grouper.id}}">                    
                    <div class="panel-heading">
                        <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-{{province.grouper.id}}"
                        href="#school-{{province.grouper.id}}-{{forloop.counter}}">
                            {{ city.grouper }}
                            <span class="badge pull-right">{{ city.list|length }}</span>
                        </a>
                        </h4>
                    </div>        
                    <div id="school-{{province.grouper.id}}-{{forloop.counter}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="list-inline">
                                {% for s in city.list %}
                                    <li><a href="{% url 'school_detail' s.id %}">{{ s.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>                        
                {% endfor %}
            </div>        
            {% endfor %}            
        </div>
    </div>
{% endblock %}