{% extends "pi/common/base.html" %}

{% block page-header %}
	学校 School
	<a href="{% url 'school_add' %}" class="btn btn-xs addlink">
		<span class="glyphicon glyphicon-plus"></span>
		Add
	</a>
{% endblock %}


{% block content %}
{% include "pi/common/filter.html" %}

<div class="table-responsive">
	<table class="table table-striped table-hover">
	<thead>
		<th>操作</th>
		<th>名称</th>
		<th>类型</th>
		<th>学生数量</th>
		<th>Google geocode</th>
		<th>Baidu geocode</th>
		<th>Address</th>
		<th>Geocode</th>
	</thead>
	<tbody>
		{% for obj in object_list %}
		<tr>
			<td>
     			<a href="{% url 'school_edit' obj.id %}" class="">
     				Edit
				</a>
     			<a href="{% url 'school_delete' obj.id %}" class="">
					Delete
				</a>
			</td><td>
     			{{ obj.name }}
     		</td><td>
     			{{ obj.school_type }}
     		</td><td>
     			{{ obj.no_student }}
     		</td><td>
     			{{ obj.google_geocode }}
     		</td><td>
     			{{ obj.baidu_geocode }}
     		</td><td>
     			{{ obj.address }}
     		</td><td>
     			({{ obj.lat }}, {{ obj.lng }})
     		</td>
    	</tr>
    	{% endfor %}
	</tbody>
	</table>
</div>

{% endblock %}

