{% extends "pi/common/base.html" %}

{% block page-header %}
	学校 School
	<a href="{% url 'school_add' %}" class="btn btn-xs addlink">
		<i class="fa fa-plus"></i>
		Add
	</a>
{% endblock %}


{% block content %}
	{% include "pi/common/filter.html" %}
	<section class="row">
	<table class="table table-striped table-hover">
	<thead>
		<th class="col-md-3"></th>
		<th class="col-md-2"></th>
		<th class="col-md-6"></th>
		<th class="col-md-1"></th>
	</thead>
	<tbody>
		{% for obj in object_list %}
		<tr><td>
			<h4>{{ obj.name }}</h4>
			<small>{{ obj.city }}</small>
			</td><td>
				<div>
					{% for rank in obj.myrank_set.all %}
						{{ rank.index}}.{{rank.rank}}
					{% endfor %}
				</div>
			</td><td>
				{% for feeds in obj.mybaidustream_set.all %}
					{% if feeds.attachments.all %}
						{% for img in feeds.attachments.all %}
							<img src="{{ img.file.url }}" style="width:20px;height:25px;">
						{% endfor %}
					{% endif %}
				{% endfor %}
			</td><td>
			<span class="pull-right">
     			<a href="{% url 'school_detail' obj.id %}" class="">
     				查看详情
					<i class="fa fa-external-link"></i>
				</a>
			</span>
		</td></tr>
    	{% endfor %}
	</tbody>
	</table>
	</section>
{% endblock %}

