{% extends 'pi/common/base.html' %}

{% block page-header %}
	Top {{rank}}院校排行榜
{% endblock %}

{% block content %}

<ul id="myTab" class="nav nav-tabs">
	<li><a href="#rank-by-min-score" data-toggle="tab">
		按往年的最低录取分数线排名
	</a></li>		
	<li><a href="#rank-by-max-score" data-toggle="tab">
		按往年的最高录取分数线排名
	</a></li>
	<li><a href="#rank-by-avg-score" data-toggle="tab">
		按往年的平均录取分数线排名
	</a></li>
	<li class="pull-right">
		<i class="fa fa-sort-amount-desc"></i>
		分数排名由高到低<br />		
		<ul class="list-inline">
			{% for tag in user.myuserprofile.tags.all %}
				<li data-type="remove-tag" data-toggle="tooltip" 
					title="Click to remove this tag" 
					obj-id="{{tag.id}}">
					{{ tag }}/
				</li>
			{% endfor %}		
		</ul>
	</li>			
</ul>

<div id="myTabContent" class="tab-content">
	<div class="tab-pane" id="rank-by-min-score">
		{% for s in rank_by_min_score %}
		<section class="page-header">
			<div class="row">
				<div class="col-md-1"><span class="btn btn-default">{{ forloop.counter }}</span></div>
				<div class="col-md-3" style="">
					<span class="my-logo">
					<a href="{% url 'school_detail' s.school.id %}">{{ s.school }}</a>
					</span>
				</div>
				
				<div class="col-md-4" rank-id="{{s.id}}" 
				data-type="filtered-majors" 
				id="{{s.rank_index}}-{{s.id}}">
				</div>

				<div class="col-md-2" style="border-right:1px solid #ccc;border-left:1px solid #ccc;">
					{{ s.school.province }}
					<br />
					<h6>{{ s.school.city }}</h4>
					
				</div>

				<div class="col-md-2">
					<span class="my-huge-font">{{ s.rank }}</span>
				</div>
			</div>
		</section>
		{% endfor %}
	</div>

	<div class="tab-pane" id="rank-by-max-score">
		{% for s in rank_by_max_score %}
		<section class="page-header">
			<div class="row">
				<div class="col-md-1"><span class="btn btn-default">{{ forloop.counter }}</span></div>
				<div class="col-md-3" style="">
					<span class="my-logo">
					<a href="{% url 'school_detail' s.school.id %}">{{ s.school }}</a>
					</span>
				</div>
				
				<div class="col-md-4" rank-id="{{s.id}}" 
				data-type="filtered-majors" 
				id="{{s.rank_index}}-{{s.id}}">
				</div>

				<div class="col-md-2" style="border-right:1px solid #ccc;border-left:1px solid #ccc;">
					{{ s.school.province }}
					<br />
					<h6>{{ s.school.city }}</h4>
					
				</div>

				<div class="col-md-2">
					<span class="my-huge-font">{{ s.rank }}</span>
				</div>
			</div>
		</section>
		{% endfor %}
	</div>

	<div class="tab-pane" id="rank-by-avg-score">
		{% for s in rank_by_avg_score %}
		<section class="page-header">
			<div class="row">
				<div class="col-md-1"><span class="btn btn-default">{{ forloop.counter }}</span></div>
				<div class="col-md-3" style="">
					<span class="my-logo">
					<a href="{% url 'school_detail' s.school.id %}">{{ s.school }}</a>
					</span>
				</div>
				
				<div class="col-md-4" rank-id="{{s.id}}" 
				data-type="filtered-majors" 
				id="{{s.rank_index}}-{{s.id}}">
				</div>

				<div class="col-md-2" style="border-right:1px solid #ccc;border-left:1px solid #ccc;">
					{{ s.school.province }}
					<br />
					<h6>{{ s.school.city }}</h4>
					
				</div>

				<div class="col-md-2">
					<span class="my-huge-font">{{ s.rank }}</span>
				</div>
			</div>
		</section>
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
	function reset_filtered_majors(html_obj,rank_id){
        // ajax
        j$.get("{% url 'school_majors_filter_by_tags' %}", // passed in from view
            function(resp) { // success callback
                j$(html_obj).html(resp);
                get_filtered_majors(html_obj,rank_id);          
            }
        ).always(function(){
        });  
	}

	function get_filtered_majors(html_obj,rank_id){
		// loading spinner	 			
		var l = Ladda.create(j$(html_obj).children('span')[0]);
		l.start();

        // ajax
        j$.post("{% url 'school_majors_filter_by_tags' %}", // passed in from view
            { 
                'obj_id':rank_id,
            }, 
            function(resp) { // success callback
                j$(html_obj).html(resp['html']);             
            },'json'
        ).always(function(){
        	l.stop();
        });  
	}

	j$(document).ready(function(){
		j$.each(j$('[data-type="filtered-majors"]'),function(index,value){
			var rank_id = j$(value).attr('rank-id');
			reset_filtered_majors(this,rank_id);
		});		

		j$('[data-type="remove-tag"]').click(function(e){
			e.stopPropagation();

			var this_obj = j$(this);
			var obj_id = j$(this).attr('obj-id');
		 	// ajax to server to get a list of columns:4"markers that are within the viewport
		    j$.post("{% url 'user_tags' %}", // passed in from view
		        { 
		            'obj_id':obj_id
		        }, 
		        function(resp) { // success callback
	            	if (resp['status'] == 'ok'){
	          			//j$(this_obj).siblings('div').first().remove();
	            		j$(this_obj).remove();

						j$.each(j$('[data-type="filtered-majors"]'),function(index,value){
							var rank_id = j$(value).attr('rank-id');
							reset_filtered_majors(this,rank_id);
						});		           	
	            	}
		        },'json'
		    ).always(function(){       	
		    });		
		});		
	});
</script>
{% endblock %}
