{% extends 'pi/common/detail.html' %}

{% block page-header %}
{{ object.name }}
{% endblock %}

{% block detail-navbar %}
<ul class="nav navbar-nav">
    <li class="">
        <a href="{% url 'school_detail' object.id %}#school-intro">学校简介
		<span class="pull-right"><i class="fa fa-angle-right"></i></span>
		</a>
    </li>

    <li class="">
    	<a href="{% url 'school_detail' object.id %}#school-major">学校专业
		<span class="pull-right"><i class="fa fa-angle-right"></i></span>    	
    	</a>
    </li>

    <li class="dropdown">
		<a href="{% url 'school_detail' object.id %}#school-admission">
			往年录取分数线
			<span class="pull-right"><i class="fa fa-angle-right"></i></span>
		</a>
    </li>
    <li class="">
    	<a href="{% url 'school_detail' object.id %}#school-stream">
    	聊天啦!
			<span class="pull-right"><i class="fa fa-angle-right"></i></span>
    	</a>
    </li>
    <li class="active">
    	<a href="{% url 'school_weixin' object.id %}">
    		加我微信
    		<span class="pull-right"><i class="fa fa-angle-right"></i></span>
    	</a>
    </li>
</ul>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li>
		<a href="{% url 'school_echart_map_filter' %}">全国</a>
	</li>
	<li>
		<a href="{% url 'analysis_school_by_province' object.province.id %}">{{object.province}}</a>
	</li>
	<li>
		<a href="{% url 'analysis_school_by_city' object.city.id %}">{{ object.city }}</a>
	</li>
	<li class="active">{{ object.name }}</li>
</ol>
{% endblock %}

{% block detail-content %}
	{% if objs %}
	<h4 class="my-h2-border"><i class="fa fa-tencent-weibo"></i>我的微信圈</h4>
	<div class="my-multicol-3">
		{% for wx in objs %}
			<section class="pin-card" style=""
			id="wx-{{wx.id}}">
			<div class="page-header">
				<h5>
					<a href="{{ wx.sg_url }}">
						{{wx.name}}
					</a>
				</h5>
			</div>

			{% if wx.icon %}
			<div class="" style="padding:0px 0;">
				<a href="{{ wx.icon.url }}">
					<img src="{{wx.icon.url}}" class="img-responsive center-block"
					style="margin-bottom:20px;">
				</a>			
				<p>{{ wx.description }}</p>
			</div>
			{% endif %}

			<div class="" style="border-top: 1px solid #dddddd;padding:10px 0;">
				{% if wx.barcode %}
				<a href="{{ wx.barcode.url }}" data-toggle="lightbox" data-gallery="multiimages" data-parent data-title="{{wx.name}} / {{wx.account}}" data-footer="{{wx.description}}">
					<img src="{{wx.barcode.url}}" 
					data-type="attachment-thumbnail" class="img-responsive img-thumbnail" width="40px">

					<span style="color:#89e;" data-toggle="tooltip" title="点击扫描微信号二维码">
						{{ wx.account }}
					</span>	
				</a>
				{% else %}
					{{ wx.account }}
				{% endif %}
			</div>

			</section>

		{% endfor %}
	</div>
	{% else %}
	真抱歉，没有查到{{object}}的微信信息 ::&gt;_&lt;::
	{% endif %}

<script type="text/javascript">
var j$ = jQuery.noConflict();
j$(document).ready(function(){
	j$(document).delegate('*[data-toggle="lightbox"]', 'click', function(e) {
	    e.preventDefault();
	    j$(this).ekkoLightbox();
	}); 

	// initialize all tooltips
	j$("[data-toggle='tooltip']").tooltip({
		'placement': 'bottom'
	});	
});
</script>
</script>	
{% endblock %}